{% extends "layout.html" %}

{% block content %}

<body>
  <div>
    <section><br>
      <h1>¿Qué es M-Ts?</h1>
      <p>
        M-Ts es un programa para dar diagnósticos rápidos y precisos, que funciona simplemente indicando cuales son
        los síntomas que la persona tiene, de esta manera el programa busca en su base de datos cual enfermedad es la
        que tiene esa persona.
      </p>
      <div>
        <h2>¿Por qué su creación?</h2>
        <p>
          En el ámbito médico existen dificultades que retrasan el diagnóstico de los pacientes, el cual hace que
          tanto el doctor y el paciente pierdan tiempo valioso, Mt-s se creo para resolver ese problema dando
          diagnóstico inmediatos.
        </p>
      </div>
      <div>
        <h3>¿Quienes somos?</h3>
        <p>
          Somos dos programadores especializados en diseño de software, que tienen como proposito facilitar diferentes
          ambitos de salud, por lo cual implementaron la web para ayudar a diferentes medicos, enfermeras, estudiantes
          a poder diagnosticar, aprender, con mayor facilidad.
        </p><br>
      </div>
    </section>
    </article>
    <aside>
      <a type="button" href="{{ url_for('MiCuenta')}}" class="btn btn-outline-dark text-white">EMPEZAR</a>
    </aside><br>
    <footer class="mt-auto text-dark-50 text-center">
      <p>Copyright - Todos los derechos reservados</p>
      <p>Seguinos en nuestras <b>redes</b></p>
      <a href="https://www.Instagram.com/">Instagram</a>
      <a href="https://www.facebook.com/">Facebook</a>
      <a href="https://twitter.com/">Twitter</a>
    </footer>
  </div>
</body>

{% endblock %}