<html lang="en">

<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <link rel="icon" type="image/x-icon" href="C:\Users\Alumno_Invitado\Desktop\MTs\icon_title.png">
  <link rel="stylesheet" type="text/css" href="estilo.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="keywords" content="Doctor,Medico,Sintomas,Enfermedad,Enfermedades">
  <meta name="description" content="M-Ts es un programa para dar diagnósticos rápidos y precisos, funciona indicando cuales son
    los síntomas que la persona tiene, de esta manera el programa busca en su base de datos cual enfermedad es la que tiene esa
    persona">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="Bareiro Alexis">
  <title>MTs</title>
</head>

<body style="background-size:cover;" background="C:\Users\pc\Desktop\MTs\Images\Fondo.jpg" class="text-white">
  <header class="p-3 bg-dark text-white">
    <span class="border-bottom">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="Home" class="nav-link px-2 text-info">Home</a></li>
            <li><a href="MiCuenta" class="nav-link px-2 text-white">Mi Cuenta</a></li>
            <li><a href="Info" class="nav-link px-2 text-white">Info</a></li>
          </ul>


          <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
            <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
          </form>

          <div class="text-end">
            <button type="button" class="btn btn-outline-info">Login</button>
          </div>
        </div>
      </div>
  </header>

  <header style="background-size:cover;" background="C:\Users\pc\Desktop\MTs\Images\Fondo.jpg"
    class="p-3 text-black text-center">
    <article>
      <section>
        <h1>¿Qué es M-Ts?</h1>
        <p>
          M-Ts es un programa para dar diagnósticos rápidos y precisos, que funciona simplemente indicando cuales son
          los síntomas que la persona tiene, de esta manera el programa busca en su base de datos cual enfermedad es la
          que tiene esa persona.
        </p>
        <div>
          <h2>¿Por qué su creación?</h2>
          <p>
            En el ámbito médico existen dificultades que retrasan el diagnóstico de los pacientes, el cual hace que
            tanto el doctor y el paciente pierdan tiempo valioso, Mt-s se creo para resolver ese problema dando
            diagnóstico inmediatos.
          </p>
        </div>
        <div>
          <h3>¿Quienes somos?</h3>
          <p>
            Somos dos programadores especializados en diseño de software, que tienen como proposito facilitar diferentes
            ambitos de salud, por lo cual implementaron la web para ayudar a diferentes medicos, enfermeras, estudiantes
            a poder diagnosticar, aprender, con mayor facilidad.
          </p><br>
        </div>
      </section>
    </article>
    <aside>
      <button type="button" class="btn btn-outline-dark text-white">EMPEZAR</button>
    </aside><br>
    <footer class="mt-auto text-dark-50 text-center">
      <p>Copyright - Todos los derechos reservados</p>
      <p>Seguinos en nuestras <b>redes</b></p>
      <a href="https://www.Instagram.com/">Instagram</a>
      <a href="https://www.facebook.com/">Facebook</a>
      <a href="https://twitter.com/">Twitter</a>
    </footer>
</body>

</html>